on early-init
    setprop ro.minui.pixel_format ${ro.boot.pixel_format}

on init
    setprop sys.usb.configfs 1

service dhcpclient /system/bin/dhcpclient -i ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    user root
    group root
    seclabel u:r:dhcpclient:s0
    oneshot
    disabled

on early-boot
    ifup ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    start dhcpclient

on post-fs
    exec u:r:init:s0 -- /system/bin/sh /system/etc/init.recovery.sh

on property:net.dns1=*
    exec u:r:init:s0 -- /system/bin/sh /system/etc/init.recovery.sh netconsole
